@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans");
html {
  font-size: 18px;
  height: -webkit-fill-available;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

html,
body {
  height: 100vh;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -mos-osx-font-smoothing: grayscale;
  position: relative;
  color: #666666;
}

@media screen and (max-width: 480px) {
  body {
    line-height: 1;
  }
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.banner {
  background: url("../img/decor/banner-big-leaf.png") right bottom no-repeat;
  background-color: #61c4d9;
  height: 100vh;
  min-height: 36.11111rem;
  color: #fff;
  padding: 1.33333rem 0 2.5rem;
  position: relative;
}

.banner:before {
  position: absolute;
  bottom: -2.66667rem;
  left: 2%;
  content: url("../img/decor/banner-leaf-bottom-left.png");
}

@media screen and (max-width: 768px) {
  .banner:before {
    position: absolute;
    left: 30%;
    top: 17vh;
    transform: scale(0.5);
    z-index: 150;
    content: url("../img/decor/banner-leaf-bottom-left.png");
  }
}

@media screen and (max-width: 480px) {
  .banner:before {
    content: none;
  }
}

.banner:after {
  position: absolute;
  bottom: -3.05556rem;
  right: 10%;
  content: url("../img/decor/banner-leaves-berries-bottom-right.png");
}

@media screen and (max-width: 768px) {
  .banner:after {
    right: 18vw;
    top: 21vh;
    transform: scale(0.5);
  }
}

@media screen and (max-width: 480px) {
  .banner:after {
    content: none;
  }
}

@media screen and (max-width: 768px) {
  .banner {
    background-position: right top 10%;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 480px) {
  .banner {
    background-position: right top 17%;
    background-repeat: no-repeat;
    background-size: 65%;
  }
}

.banner__title-section {
  width: 100%;
  margin-top: 6.66667rem;
}

@media screen and (max-width: 768px) {
  .banner__title-section {
    text-align: center;
    margin-top: 1.55556rem;
  }
}

@media screen and (max-width: 480px) {
  .banner__title-section {
    margin-top: 1.27778rem;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    line-height: 1;
  }
}

.banner__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .banner__container {
    justify-content: normal;
  }
}

@media screen and (max-width: 480px) {
  .banner__container {
    justify-content: space-between;
  }
}

.banner__main-content {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .banner__main-content {
    flex-direction: column-reverse;
    margin-top: 10vh;
  }
}

@media screen and (max-width: 480px) {
  .banner__main-content {
    margin-top: 0;
    margin-bottom: 20%;
  }
}

.banner__col {
  flex: 1;
}

.banner__main-title {
  font-size: 2.66667rem;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 0.83333rem;
  text-transform: uppercase;
}

@media screen and (max-width: 480px) {
  .banner__main-title {
    font-size: 2.22222rem;
  }
}

.banner__title-description {
  font-size: 1.16667rem;
  margin-bottom: 2.77778rem;
  padding-right: 10%;
}

@media screen and (max-width: 768px) {
  .banner__title-description {
    padding: 0 20%;
  }
}

@media screen and (max-width: 480px) {
  .banner__title-description {
    padding: 0 5%;
    font-size: 1rem;
  }
}

.banner__image {
  height: 100%;
  width: 100%;
  position: relative;
  margin-bottom: -6.66667rem;
}

.banner__image:before {
  position: absolute;
  bottom: -10%;
  right: 40%;
  content: url("../img/decor/banner-berries-middle-right.png");
}

@media screen and (max-width: 768px) {
  .banner__image:before {
    bottom: -5%;
    right: 35%;
    transform: rotateZ(70deg) scale(0.6);
  }
}

@media screen and (max-width: 480px) {
  .banner__image:before {
    bottom: -15%;
    left: 10%;
    transform: scale(0.7);
    content: url("../img/decor/banner-leaves-berries-mobile.png");
  }
}

.banner__image:after {
  position: absolute;
  bottom: 5%;
  right: -5%;
  content: url("../img/decor/banner-leaves-middle-right.png");
}

@media screen and (max-width: 768px) {
  .banner__image:after {
    bottom: 1%;
    right: 10%;
    transform: scale(0.5);
  }
}

@media screen and (max-width: 480px) {
  .banner__image:after {
    content: none;
  }
}

@media screen and (max-width: 768px) {
  .banner__image {
    margin-bottom: 0;
  }
  .banner__image--img {
    width: 50%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 480px) {
  .banner__image--img {
    width: 70%;
  }
}

.banner__icons-section {
  margin-top: 4.16667rem;
}

@media screen and (max-width: 768px) {
  .banner__icons-section {
    display: none;
  }
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.menu {
  margin: 0 1.66667rem;
  padding-top: 0.27778rem;
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.menu__item {
  margin-right: 0.83333rem;
  margin-bottom: 0.55556rem;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__item:hover {
  text-decoration: underline;
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
}

.phone-number {
  font-size: 1.33333rem;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.phone-number--theme--green {
  color: #365a49;
}

.phone-number__text {
  white-space: nowrap;
}

.phone-number__icon {
  flex-shrink: 0;
}

.phone-number__icon-elem {
  width: 0.66667rem;
  height: 0.66667rem;
  margin-right: 0.33333rem;
  fill: #fff;
}

.phone-number__icon-elem--theme--green {
  fill: #365a49;
}

@media screen and (max-width: 768px) {
  .phone-number__tablets {
    display: none;
  }
}

.hamburger {
  width: 24px;
  height: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: inline-flex;
  }
}

.hamburger__plank {
  display: block;
  background: #fff;
  height: 4px;
  border-radius: 10px;
}

.features {
  display: flex;
}

.features__item {
  margin-right: 2.55556rem;
}

.features__item:last-chilg {
  margin-right: 0;
}

.feature {
  display: flex;
}

.feature__icon {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.38889rem;
  fill: #c6f7ff;
}

.feature__text {
  font-size: 0.88889rem;
  max-width: 4.72222rem;
}

.btn {
  font-size: 1.05556rem;
  font-weight: bold;
  padding: 1rem 1.94444rem;
  text-transform: uppercase;
  border-radius: 5.55556rem;
  line-height: 1;
  text-decoration: none;
  border: none;
}

.btn--theme-white {
  background: #fff;
  color: #0b4d3c;
}

.btn--theme-white:hover {
  background: #0b4d3c;
  color: #fff;
}

.btn--theme-green {
  background: #0b4d3c;
  color: #fff;
}

.btn--theme-green:hover {
  background: #fff;
  color: #0b4d3c;
}

.btn--theme-transparent {
  background: transparent;
  color: #000;
  text-transform: none;
}

.btn--theme-transparent:hover {
  background: transparent;
  color: #0b4d3c;
}

.section {
  height: 100vh;
  min-height: 36.11111rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section--font-color--green {
  color: #0b4d3c;
}

.section--font-color--green .section__title {
  color: inherit;
}

.section__title {
  font-size: 2.66667rem;
  font-weight: bold;
  margin-bottom: 3.33333rem;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}

@media screen and (max-width: 480px) {
  .section__title {
    margin-bottom: 5%;
    font-size: 12vw;
  }
}

.headline {
  text-align: center;
}

.headline__title {
  margin-bottom: 1.38889rem;
  white-space: nowrap;
}

@media screen and (max-width: 480px) {
  .headline__title {
    margin-bottom: 1.11111rem;
  }
}

.headline__subtitle {
  padding: 0 26%;
  margin-bottom: 2.22222rem;
}

@media screen and (max-width: 768px) {
  .headline__subtitle {
    padding: 0 15%;
  }
}

@media screen and (max-width: 768px) {
  .headline__subtitle {
    font-size: 1rem;
    padding: 0;
    margin-bottom: 10%;
  }
}

.benefits {
  display: flex;
  margin-bottom: 6.66667rem;
}

@media screen and (max-width: 480px) {
  .benefits {
    flex-direction: column;
    margin-bottom: 0;
  }
}

.benefits__item {
  flex: 1;
  padding: 0 3%;
  position: relative;
}

.benefits__item:before {
  content: url("../img/decor/separator.png");
  position: absolute;
  top: 1.66667rem;
  right: 0;
  transform: translateX(50%);
}

@media screen and (max-width: 768px) {
  .benefits__item:before {
    content: none;
  }
}

.benefits__item:first-child {
  padding-left: 0;
}

.benefits__item:last-child {
  padding-right: 0;
}

.benefits__item:last-child:before {
  display: none;
}

@media screen and (max-width: 480px) {
  .benefits__item {
    display: flex;
    padding: 0;
    margin-bottom: 2.22222rem;
  }
  .benefits__item:last-child {
    margin-bottom: 0;
  }
}

.benefit {
  text-align: center;
}

@media screen and (max-width: 480px) {
  .benefit__image {
    margin-right: 0.77778rem;
  }
}

.benefit__image-wrapper {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  position: relative;
  background-color: #f2f5f4;
  border-radius: 50%;
  overflow: hidden;
}

.benefit__icon {
  width: 4.16667rem;
  height: 3.83333rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #2e2e2d;
}

.benefit__icon::before {
  filter: brightness(0) saturate(100%);
}

@media screen and (max-width: 480px) {
  .benefit__text {
    text-align: left;
  }
}

.benefit__text h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.38889rem;
}

@media screen and (max-width: 480px) {
  .benefit__text h3 {
    margin-bottom: 5%;
  }
}

.benefit__description {
  font-weight: 200;
}

@media screen and (max-width: 480px) {
  .benefit__description {
    font-size: 1rem;
  }
}

.section-why {
  position: relative;
  background: url("../img/decor/grey-leaf-left.png") left top 57% no-repeat;
}

.section-why:before {
  content: url("../img/decor/bars-with-raspberry.png");
  position: absolute;
  bottom: -7.22222rem;
  left: 0;
}

@media screen and (max-width: 768px) {
  .section-why {
    background-position: left top 10%;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 480px) {
  .section-why {
    background: none;
  }
  .section-why:before {
    content: none;
  }
}

.reviews__display-inner {
  background: #f8faf9 url("../img/decor/reviews-berry-grey-right.png") right top no-repeat;
  padding: 2.77778rem 2.5rem 1.94444rem;
  margin-bottom: 1.22222rem;
  overflow: hidden;
  position: relative;
}

.reviews__display-inner:before {
  content: "";
  display: block;
  width: 5rem;
  height: 5rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -3.61111rem;
}

@media screen and (max-width: 768px) {
  .reviews__display-inner {
    padding: 2.77778rem 0 0;
  }
}

.reviews__list-item {
  display: none;
}

.reviews__list-item--active {
  display: flex;
}

@media screen and (max-width: 768px) {
  .reviews__list-item--active {
    flex-direction: column;
    align-items: center;
  }
}

.reviews__avatar {
  width: 14.11111rem;
  height: 14.44444rem;
}

@media screen and (max-width: 768px) {
  .reviews__avatar {
    margin-bottom: 1.38889rem;
    width: 7.22222rem;
    height: 7.22222rem;
  }
}

.reviews__avatar-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  flex: 1;
  margin-left: 1.11111rem;
}

.reviews__content h3 {
  font-size: 1.66667rem;
  font-weight: bold;
  margin-bottom: 1.22222rem;
  color: black;
}

.reviews__content h4 {
  font-size: 18px;
  font-weight: bold;
  color: black;
}

@media screen and (max-width: 768px) {
  .reviews__content {
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .reviews__content {
    margin-left: 0;
  }
}

.reviews__text {
  margin-bottom: 2rem;
  width: 85%;
}

@media screen and (max-width: 768px) {
  .reviews__text {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .reviews__text {
    font-size: 1rem;
    margin-bottom: 5%;
  }
}

.reviews__authors {
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.reviews__switcher {
  display: flex;
  justify-content: center;
  margin-bottom: 1.11111rem;
}

.interactive-avatar {
  width: 4.44444rem;
  height: 4.44444rem;
  border: 0.33333rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.interactive-avatar:hover {
  border-color: #0f5a47;
}

.interactive-avatar--active {
  border-color: #0f5a47;
}

@media screen and (max-width: 480px) {
  .interactive-avatar {
    width: 3.11111rem;
    height: 3.11111rem;
  }
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-reviews {
  position: relative;
}

.section-reviews:before {
  content: url("../img/decor/reviews-leaf-berries-bottom-left.png");
  position: absolute;
  bottom: -8.88889rem;
  z-index: 160;
}

.section-reviews:after {
  content: url("../img/decor/reviews-berries-right.png");
  position: absolute;
  top: 0.83333rem;
  right: 0.55556rem;
}

@media screen and (max-width: 480px) {
  .section-reviews:before {
    transform: scale(0.7);
    left: -10%;
    bottom: -25%;
  }
  .section-reviews:after {
    transform: scale(0.7);
    top: -3%;
    right: -15%;
  }
}

.fixed-menu {
  position: fixed;
  top: 35%;
  right: 3%;
  z-index: 100;
}

@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}

.fixed-menu__item {
  margin-bottom: 0.27778rem;
}

.fixed-menu__item--active .fixed-menu__link {
  border-color: #3a77a7;
}

.fixed-menu__link {
  width: 0.88889rem;
  height: 0.88889rem;
  border-radius: 50%;
  border: 0.05556rem solid transparent;
  display: block;
  position: relative;
}

.fixed-menu__link:before {
  content: "";
  width: 0.33333rem;
  height: 0.33333rem;
  border-radius: 50%;
  background: #3a77a7;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form {
  display: flex;
}

@media screen and (max-width: 768px) {
  .form {
    padding: 0 19%;
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}

.form__col {
  flex: 1;
  margin-right: 1.11111rem;
}

.form__col:last-child {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: 1rem;
}

.form__block {
  flex: 1;
  margin-right: 1.11111rem;
}

.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  height: 3.33333rem;
  padding: 1rem 0.61111rem;
  border: solid 0.16667rem transparent;
}

.form__input:focus {
  border-color: #dee2bd;
  outline: none;
}

@media screen and (max-width: 768px) {
  .form__input {
    height: 1.88889rem;
  }
}

.form__input--textarea {
  height: 10rem;
  resize: none;
}

@media screen and (max-width: 768px) {
  .form__input--textarea {
    height: 4.44444rem;
  }
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 480px) {
  .form__controls {
    justify-content: center;
  }
}

.form__btns {
  margin-top: 2.22222rem;
}

@media screen and (max-width: 768px) {
  .form__btns {
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .form__btns {
    margin-top: 5%;
  }
}

.radio {
  display: flex;
  cursor: pointer;
  user-select: none;
  margin-bottom: 0.5rem;
  margin-right: 1.38889rem;
}

.radio--checkbox .radio__visible {
  border-radius: 0;
}

.radio--checkbox .radio__visible:before {
  content: none;
}

.radio:last-child {
  margin-right: 0;
}

@media screen and (max-width: 480px) {
  .radio {
    margin-right: 0.55556rem;
  }
}

.radio__elem {
  display: none;
}

.radio__elem:checked ~ .radio__visible:before {
  display: block;
}

.radio__elem:checked ~ .radio__visible .radio__visible-icon {
  display: block;
}

.radio__visible {
  width: 1.44444rem;
  height: 1.44444rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: 0.55556rem;
}

.radio__visible-icon {
  width: 0.77778rem;
  height: 0.77778rem;
  fill: #365a49;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.radio__visible:before {
  content: "";
  width: 0.77778rem;
  height: 0.77778rem;
  background: #365a49;
  border-radius: 50%;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 480px) {
  .radio__title {
    line-height: 1.42;
  }
}

.section-order {
  position: relative;
  background: #d2ddd9 url("../img/decor/berry-pattern.png") center center no-repeat;
  background-size: cover;
}

.section-order:before {
  content: url("../img/decor/order-berry-left.png");
  position: absolute;
  bottom: 4.44444rem;
  left: 1rem;
}

.section-order:after {
  content: url("../img/decor/order-leaf-right.png");
  position: absolute;
  bottom: 4.44444rem;
  right: 0.11111rem;
}

@media screen and (max-width: 768px) {
  .section-order:before {
    content: "";
  }
  .section-order:after {
    content: "";
  }
}

.section-map {
  position: relative;
  background-image: url("../img/decor/map-map-image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  background-color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5.11111rem;
}

@media screen and (max-width: 768px) {
  .footer {
    height: 5.55556rem;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    height: 8.33333rem;
  }
}

.container-footer {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

@media screen and (max-width: 480px) {
  .container-footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.16667rem;
  font-style: inherit;
  color: #000;
}

@media screen and (max-width: 480px) {
  .footer__contacts {
    align-items: center;
    margin-bottom: 0.5rem;
  }
}

.social {
  display: flex;
  align-items: center;
}

.social__items {
  margin-right: 1.11111rem;
}

.social__items:last-child {
  margin-right: 0;
}

.social__icons {
  width: 1.11111rem;
  height: 1.11111rem;
  fill: #b2b2b2;
}

.social__icons:hover {
  fill: #000;
}
/*# sourceMappingURL=main.css.map */