.header {
  display: flex;
  align-items: center; 
  justify-content: space-between;
}

.menu {
  @include tablets {
    display: none;
  }
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__item {
  margin-right: rem(15px);

  &:last-child {
    margin-right: 0;
  }
}

.menu__link {
  text-decoration: none;
}

.phone-number {
  font-size: rem(24px);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.phone-number__icon-elem {
  width: rem(12px);
  height: rem(12px);
  margin-right: rem(6px);
  filter: invert(100%) sepia(0%) saturate(6137%) hue-rotate(324deg) brightness(107%) contrast(100%);
}

.phone-number__tablets {
  @include tablets {
    display: none;
  }
}

