.section-map {
  position: relative;
  background-image: url("../img/decor/map-map-image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.map-image {
  
}